<tr>
  <td>
    <%= link_to course.name, admin_course_path(course) %>
  </td>
  <td class="text-center" style="width: 72px;">
    <%= image_tag course.avatar.url, class: "img-member img-circle img-responsive" %>
  </td>
</tr>
