<% provide :title, "Môn học" %>
<div class="content-header">
  <div class="header-section">
    <h1>
      <i class="fa fa-table"></i>Dánh sách môn học
    </h1>
  </div>
</div>
<ul class="breadcrumb breadcrumb-top">
  <li>Môn học</li>
  <li><a href="">Danh sách</a></li>
</ul>
<div class="block full">
  <div class="block-title" id="btn-filter-container">
    <h2><strong>Môn Học</strong></h2>
    <%= link_to "Tất cả", admin_subjects_path,class: "btn-filter active", remote: true %>
    <%= link_to "Đã khóa", admin_subjects_path(type: "block"),class: "btn-filter", remote: true %>
  </div>
  <div class="table-responsive" id="table-content">
    <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
      <thead>
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">Avatar</th>
          <th>Tên</th>
          <th>Ngày học</th>
          <th>Số chương</th>
          <th>Trạng thái</th>
          <th class="text-center">##</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "subject", collection: @subjects, as: :subject %>
      </tbody>
    </table>
  </div>
</div>
<script>
  $(function(){ TablesSubjects.init(); });
  $(function(){ btnFilterClick.init(); });
</script>

