$("#table-content").html("<table id='example-datatable' class='table table-vcenter table-condensed table-bordered'><thead><tr><th class='text-center'>ID</th><th>Name</th><th>Days on learn</th><th>Description</th><th>Number of Task</th><th>Status</th><th class='text-center'>#</th></tr></thead><tbody><%= j render partial: 'subject', collection: @subjects, as: :subject %></tbody></table>");
$(function(){ TablesSubjects.init(); });
