<div class="content-header">
  <div class="header-section">
    <h1>
      <i class="gi gi-share_alt"></i>Social Widgets<br><small>Awesome &amp; colorful social widgets!</small>
    </h1>
  </div>
</div>
<ul class="breadcrumb breadcrumb-top">
  <li>Tables</li>
  <li><a href="">Datatables</a></li>
</ul>
<div class="block full">
  <div class="row" id="course-content">
    <%= render @courses %>
  </div>
</div>

<script>
  $(function(){ btnFilterClick.init(); });
</script>
