<% provide :title, "Thông tin công ty" %>
<div class="content-header">
  <div class="header-section">
    <h1>
      <i class="gi gi-notes"></i>THÔNG TIN CÔNG TY
    </h1>
  </div>
</div>
<ul class="breadcrumb breadcrumb-top">
  <li>Home</li>
  <li><a href="">Thông tin công ty</a></li>
</ul>
<div class="row">
  <div class="col-md-12 user-profile-content">
    <div class="col-md-9 " id="profile-content">
      <%= render "admin/companies/content" %>
    </div>
  </div>
</div>
<style type="text/css">
  .td-title{
    min-width: 100px;
    font-weight: 600;
  }
</style>
