<h2>Dang ky thuc tapj thanh cong</h2>
<p>Chao <%= @params[:name] %></p>
<p>Chung toi da xem cv cua ban, va chuc ban da duoc chap nhan thuc tap</p>
<p>Chung toi xin moi ban vao luc <%= @params[:time] %>, ngay <%= @params[:date] %>, toi dia diem Tang 6, toa nha saphia, 220 Le Duan</p>
<p>De tham gia <%= @params[:purpose] %>.</p>
<p>Ban xac nhan lai mail nhe</p>
<p>Chao tam biet!</p>
