<h2>PHẢN HỒI THỰC TẬP</h2>
<p>Chào <%= @params[:name] %>,</p>
<p>Cảm ơn vì đơn đăng ký thực tập của bạn.</p>
<p>Chúng tôi xin mời bạn vào lúc <%= @params[:time] %>,ngày <%= @params[:date] %>, tới địa chỉ Tầng 6, toàn nhà Saphia, số 220 Lê Duẫn, để tham gia <%= @params[:purpose] %>.</p>
<p>Bạn hãy gửi thư xác nhận lại sớm nhé.</p>
<p>Chúc bạn luôn học tập và làm việc tốt!</p>

