<h2>PHẢN HỒI THỰC TẬP</h2>
<p>Chào <%= @registration.name %>,</p>
<p>Cảm ơn vì đơn đăng ký thực tập của bạn.</p>
<p>Chúng tôi rất tiếc vì bạn không đạt yêu cầu thực tập tại công ty tôi.</p>
<p>Hẹn gặp lại bạn trong đợt tuyển thực tập khác.</p>
<p>Chúc bạn luôn học tập và làm việc tốt!</p>

