<h2>ĐĂNG KÝ THỰC TẬP THÀNH CÔNG</h2>
<p>Xin chào <%= @params[:registration][:name] %>,</p>
<p>Cảm ơn bạn đã nộp đơn đăng ký vào thực tập tại công ty chúng tôi. Chúng tôi sẽ thông báo cho bạn sớm.</p>
<p>Chúc bạn một ngày tốt lành!</p>
