<div class="content-header">
  <div class="header-section">
    <h1>
      <i class="gi gi-share_alt"></i>Social Widgets<br><small>Awesome &amp; colorful social widgets!</small>
    </h1>
  </div>
</div>
<ul class="breadcrumb breadcrumb-top">
  <li>Tables</li>
  <li><a href="">Datatables</a></li>
</ul>
<div class="row">
  <div class="col-md-4">
    <div class="widget">
      <div class="widget-advanced widget-advanced-alt">
        <div class="widget-header text-left">
          <!-- For best results use an image with at least 150 pixels in height (with the width relative to how big your widget will be!) - Here I'm using a 1000x150 pixels image -->
          <img src="rb.jpg" alt="background" class="widget-background">
          <h3 class="widget-content widget-content-image widget-content-light clearfix">
            <a href="page_ready_user_profile.html" class="pull-right">
              <img src="logo-rails.png" alt="avatar" class="widget-image img-circle">
            </a>
            <a href="page_ready_user_profile.html" class="themed-color-default">Craig West</a>
            <br>
            <small>Traveller</small>
          </h3>
        </div>
        <div class="widget-main">
          <div class="row text-center animation-fadeIn">
            <div class="col-xs-4">
              <h3>
                <a href="javascript:void(0)" class="themed-color-default">
                  <strong>12</strong>
                </a>
                <br>
                  <small>Trips</small>
              </h3>
            </div>
            <div class="col-xs-4">
              <h3>
                <a href="javascript:void(0)" class="themed-color-default">
                  <strong>21</strong>
                </a>
                <br>
                  <small>Cities</small>
              </h3>
            </div>
            <div class="col-xs-4">
              <h3>
                <a href="javascript:void(0)" class="themed-color-default">
                  <strong>3</strong>
                </a>
                <br>
                  <small>Stories</small>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="widget">
      <div class="widget-advanced widget-advanced-alt">
        <div class="widget-header text-left">
          <!-- For best results use an image with at least 150 pixels in height (with the width relative to how big your widget will be!) - Here I'm using a 1000x150 pixels image -->
          <img src="rb.jpg" alt="background" class="widget-background">
          <h3 class="widget-content widget-content-image widget-content-light clearfix">
            <a href="page_ready_user_profile.html" class="pull-right">
              <img src="logo-rails.png" alt="avatar" class="widget-image img-circle">
            </a>
            <a href="page_ready_user_profile.html" class="themed-color-default">Craig West</a>
            <br>
            <small>Traveller</small>
          </h3>
        </div>
        <div class="widget-main">
          <div class="row text-center animation-fadeIn">
            <div class="col-xs-4">
              <h3>
                <a href="javascript:void(0)" class="themed-color-default">
                  <strong>12</strong>
                </a>
                <br>
                  <small>Trips</small>
              </h3>
            </div>
            <div class="col-xs-4">
              <h3>
                <a href="javascript:void(0)" class="themed-color-default">
                  <strong>21</strong>
                </a>
                <br>
                  <small>Cities</small>
              </h3>
            </div>
            <div class="col-xs-4">
              <h3>
                <a href="javascript:void(0)" class="themed-color-default">
                  <strong>3</strong>
                </a>
                <br>
                  <small>Stories</small>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="widget">
      <div class="widget-advanced widget-advanced-alt">
        <div class="widget-header text-left">
          <!-- For best results use an image with at least 150 pixels in height (with the width relative to how big your widget will be!) - Here I'm using a 1000x150 pixels image -->
          <img src="rb.jpg" alt="background" class="widget-background">
          <h3 class="widget-content widget-content-image widget-content-light clearfix">
            <a href="page_ready_user_profile.html" class="pull-right">
              <img src="logo-rails.png" alt="avatar" class="widget-image img-circle">
            </a>
            <a href="page_ready_user_profile.html" class="themed-color-default">Craig West</a>
            <br>
            <small>Traveller</small>
          </h3>
        </div>
        <div class="widget-main">
          <div class="row text-center animation-fadeIn">
            <div class="col-xs-4">
              <h3>
                <a href="javascript:void(0)" class="themed-color-default">
                  <strong>12</strong>
                </a>
                <br>
                  <small>Trips</small>
              </h3>
            </div>
            <div class="col-xs-4">
              <h3>
                <a href="javascript:void(0)" class="themed-color-default">
                  <strong>21</strong>
                </a>
                <br>
                  <small>Cities</small>
              </h3>
            </div>
            <div class="col-xs-4">
              <h3>
                <a href="javascript:void(0)" class="themed-color-default">
                  <strong>3</strong>
                </a>
                <br>
                  <small>Stories</small>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="widget">
      <div class="widget-advanced widget-advanced-alt">
        <div class="widget-header text-left">
          <!-- For best results use an image with at least 150 pixels in height (with the width relative to how big your widget will be!) - Here I'm using a 1000x150 pixels image -->
          <img src="rb.jpg" alt="background" class="widget-background">
          <h3 class="widget-content widget-content-image widget-content-light clearfix">
            <a href="page_ready_user_profile.html" class="pull-right">
              <img src="logo-rails.png" alt="avatar" class="widget-image img-circle">
            </a>
            <a href="page_ready_user_profile.html" class="themed-color-default">Craig West</a>
            <br>
            <small>Traveller</small>
          </h3>
        </div>
        <div class="widget-main">
          <div class="row text-center animation-fadeIn">
            <div class="col-xs-4">
              <h3>
                <a href="javascript:void(0)" class="themed-color-default">
                  <strong>12</strong>
                </a>
                <br>
                  <small>Trips</small>
              </h3>
            </div>
            <div class="col-xs-4">
              <h3>
                <a href="javascript:void(0)" class="themed-color-default">
                  <strong>21</strong>
                </a>
                <br>
                  <small>Cities</small>
              </h3>
            </div>
            <div class="col-xs-4">
              <h3>
                <a href="javascript:void(0)" class="themed-color-default">
                  <strong>3</strong>
                </a>
                <br>
                  <small>Stories</small>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="widget">
      <div class="widget-advanced widget-advanced-alt">
        <div class="widget-header text-left">
          <!-- For best results use an image with at least 150 pixels in height (with the width relative to how big your widget will be!) - Here I'm using a 1000x150 pixels image -->
          <img src="rb.jpg" alt="background" class="widget-background">
          <h3 class="widget-content widget-content-image widget-content-light clearfix">
            <a href="page_ready_user_profile.html" class="pull-right">
              <img src="logo-rails.png" alt="avatar" class="widget-image img-circle">
            </a>
            <a href="page_ready_user_profile.html" class="themed-color-default">Craig West</a>
            <br>
            <small>Traveller</small>
          </h3>
        </div>
        <div class="widget-main">
          <div class="row text-center animation-fadeIn">
            <div class="col-xs-4">
              <h3>
                <a href="javascript:void(0)" class="themed-color-default">
                  <strong>12</strong>
                </a>
                <br>
                  <small>Trips</small>
              </h3>
            </div>
            <div class="col-xs-4">
              <h3>
                <a href="javascript:void(0)" class="themed-color-default">
                  <strong>21</strong>
                </a>
                <br>
                  <small>Cities</small>
              </h3>
            </div>
            <div class="col-xs-4">
              <h3>
                <a href="javascript:void(0)" class="themed-color-default">
                  <strong>3</strong>
                </a>
                <br>
                  <small>Stories</small>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="widget">
      <div class="widget-advanced widget-advanced-alt">
        <div class="widget-header text-left">
          <!-- For best results use an image with at least 150 pixels in height (with the width relative to how big your widget will be!) - Here I'm using a 1000x150 pixels image -->
          <img src="rb.jpg" alt="background" class="widget-background">
          <h3 class="widget-content widget-content-image widget-content-light clearfix">
            <a href="page_ready_user_profile.html" class="pull-right">
              <img src="logo-rails.png" alt="avatar" class="widget-image img-circle">
            </a>
            <a href="page_ready_user_profile.html" class="themed-color-default">Craig West</a>
            <br>
            <small>Traveller</small>
          </h3>
        </div>
        <div class="widget-main">
          <div class="row text-center animation-fadeIn">
            <div class="col-xs-4">
              <h3>
                <a href="javascript:void(0)" class="themed-color-default">
                  <strong>12</strong>
                </a>
                <br>
                  <small>Trips</small>
              </h3>
            </div>
            <div class="col-xs-4">
              <h3>
                <a href="javascript:void(0)" class="themed-color-default">
                  <strong>21</strong>
                </a>
                <br>
                  <small>Cities</small>
              </h3>
            </div>
            <div class="col-xs-4">
              <h3>
                <a href="javascript:void(0)" class="themed-color-default">
                  <strong>3</strong>
                </a>
                <br>
                  <small>Stories</small>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="widget">
      <div class="widget-advanced widget-advanced-alt">
        <div class="widget-header text-left">
          <!-- For best results use an image with at least 150 pixels in height (with the width relative to how big your widget will be!) - Here I'm using a 1000x150 pixels image -->
          <img src="rb.jpg" alt="background" class="widget-background">
          <h3 class="widget-content widget-content-image widget-content-light clearfix">
            <a href="page_ready_user_profile.html" class="pull-right">
              <img src="logo-rails.png" alt="avatar" class="widget-image img-circle">
            </a>
            <a href="page_ready_user_profile.html" class="themed-color-default">Craig West</a>
            <br>
            <small>Traveller</small>
          </h3>
        </div>
        <div class="widget-main">
          <div class="row text-center animation-fadeIn">
            <div class="col-xs-4">
              <h3>
                <a href="javascript:void(0)" class="themed-color-default">
                  <strong>12</strong>
                </a>
                <br>
                  <small>Trips</small>
              </h3>
            </div>
            <div class="col-xs-4">
              <h3>
                <a href="javascript:void(0)" class="themed-color-default">
                  <strong>21</strong>
                </a>
                <br>
                  <small>Cities</small>
              </h3>
            </div>
            <div class="col-xs-4">
              <h3>
                <a href="javascript:void(0)" class="themed-color-default">
                  <strong>3</strong>
                </a>
                <br>
                  <small>Stories</small>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="widget">
      <div class="widget-advanced widget-advanced-alt">
        <div class="widget-header text-left">
          <!-- For best results use an image with at least 150 pixels in height (with the width relative to how big your widget will be!) - Here I'm using a 1000x150 pixels image -->
          <img src="rb.jpg" alt="background" class="widget-background">
          <h3 class="widget-content widget-content-image widget-content-light clearfix">
            <a href="page_ready_user_profile.html" class="pull-right">
              <img src="logo-rails.png" alt="avatar" class="widget-image img-circle">
            </a>
            <a href="page_ready_user_profile.html" class="themed-color-default">Craig West</a>
            <br>
            <small>Traveller</small>
          </h3>
        </div>
        <div class="widget-main">
          <div class="row text-center animation-fadeIn">
            <div class="col-xs-4">
              <h3>
                <a href="javascript:void(0)" class="themed-color-default">
                  <strong>12</strong>
                </a>
                <br>
                  <small>Trips</small>
              </h3>
            </div>
            <div class="col-xs-4">
              <h3>
                <a href="javascript:void(0)" class="themed-color-default">
                  <strong>21</strong>
                </a>
                <br>
                  <small>Cities</small>
              </h3>
            </div>
            <div class="col-xs-4">
              <h3>
                <a href="javascript:void(0)" class="themed-color-default">
                  <strong>3</strong>
                </a>
                <br>
                  <small>Stories</small>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
