<div class="content-header">
  <div class="header-section">
    <h1>
      <i class="fa fa-table"></i>Datatables
      <br>
        <small>HTML tables can become fully dynamic with cool features!</small>
    </h1>
  </div>
</div>
<ul class="breadcrumb breadcrumb-top">
  <li>Tables</li>
  <li><a href="">Datatables</a></li>
</ul>
<div class="block full">
  <div class="block-title">
    <h2><strong>Datatables</strong> integration</h2>
  </div>
  <p><a href="https://datatables.net/" target="_blank">DataTables</a> Some text about this part.</p>
  <div class="table-responsive">
    <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
      <thead>
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">
            <i class="gi gi-user"></i>
          </th>
          <th>Client</th>
          <th>Email</th>
          <th>Subscription</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">1</td>
          <td class="text-center">
            <img src="avatar.jpg" alt="avatar" class="img-circle">
          </td>
          <td>
            <a href="javascript:void(0)">client1</a>
          </td>
          <td>client1@company.com</td>
          <td>
            <span class="label label-primary">Personal</span>
          </td>
          <td class="text-center">
            <div class="btn-group">
              <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default">
                <i class="fa fa-pencil"></i>
              </a>
              <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger">
                <i class="fa fa-times"></i>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-center">1</td>
          <td class="text-center">
            <img src="avatar.jpg" alt="avatar" class="img-circle">
          </td>
          <td>
            <a href="javascript:void(0)">client1</a>
          </td>
          <td>client1@company.com</td>
          <td>
            <span class="label label-primary">Personal</span>
          </td>
          <td class="text-center">
            <div class="btn-group">
              <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default">
                <i class="fa fa-pencil"></i>
              </a>
              <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger">
                <i class="fa fa-times"></i>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-center">1</td>
          <td class="text-center">
            <img src="avatar.jpg" alt="avatar" class="img-circle">
          </td>
          <td>
            <a href="javascript:void(0)">client1</a>
          </td>
          <td>client1@company.com</td>
          <td>
            <span class="label label-primary">Personal</span>
          </td>
          <td class="text-center">
            <div class="btn-group">
              <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default">
                <i class="fa fa-pencil"></i>
              </a>
              <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger">
                <i class="fa fa-times"></i>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-center">1</td>
          <td class="text-center">
            <img src="avatar.jpg" alt="avatar" class="img-circle">
          </td>
          <td>
            <a href="javascript:void(0)">client1</a>
          </td>
          <td>client1@company.com</td>
          <td>
            <span class="label label-primary">Personal</span>
          </td>
          <td class="text-center">
            <div class="btn-group">
              <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default">
                <i class="fa fa-pencil"></i>
              </a>
              <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger">
                <i class="fa fa-times"></i>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-center">1</td>
          <td class="text-center">
            <img src="avatar.jpg" alt="avatar" class="img-circle">
          </td>
          <td>
            <a href="javascript:void(0)">client1</a>
          </td>
          <td>client1@company.com</td>
          <td>
            <span class="label label-primary">Personal</span>
          </td>
          <td class="text-center">
            <div class="btn-group">
              <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default">
                <i class="fa fa-pencil"></i>
              </a>
              <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger">
                <i class="fa fa-times"></i>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-center">1</td>
          <td class="text-center">
            <img src="avatar.jpg" alt="avatar" class="img-circle">
          </td>
          <td>
            <a href="javascript:void(0)">client1</a>
          </td>
          <td>client1@company.com</td>
          <td>
            <span class="label label-primary">Personal</span>
          </td>
          <td class="text-center">
            <div class="btn-group">
              <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default">
                <i class="fa fa-pencil"></i>
              </a>
              <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger">
                <i class="fa fa-times"></i>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-center">1</td>
          <td class="text-center">
            <img src="avatar.jpg" alt="avatar" class="img-circle">
          </td>
          <td>
            <a href="javascript:void(0)">client1</a>
          </td>
          <td>client1@company.com</td>
          <td>
            <span class="label label-primary">Personal</span>
          </td>
          <td class="text-center">
            <div class="btn-group">
              <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default">
                <i class="fa fa-pencil"></i>
              </a>
              <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger">
                <i class="fa fa-times"></i>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-center">1</td>
          <td class="text-center">
            <img src="avatar.jpg" alt="avatar" class="img-circle">
          </td>
          <td>
            <a href="javascript:void(0)">client1</a>
          </td>
          <td>client1@company.com</td>
          <td>
            <span class="label label-primary">Personal</span>
          </td>
          <td class="text-center">
            <div class="btn-group">
              <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default">
                <i class="fa fa-pencil"></i>
              </a>
              <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger">
                <i class="fa fa-times"></i>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-center">1</td>
          <td class="text-center">
            <img src="avatar.jpg" alt="avatar" class="img-circle">
          </td>
          <td>
            <a href="javascript:void(0)">client1</a>
          </td>
          <td>client1@company.com</td>
          <td>
            <span class="label label-primary">Personal</span>
          </td>
          <td class="text-center">
            <div class="btn-group">
              <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default">
                <i class="fa fa-pencil"></i>
              </a>
              <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger">
                <i class="fa fa-times"></i>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-center">1</td>
          <td class="text-center">
            <img src="avatar.jpg" alt="avatar" class="img-circle">
          </td>
          <td>
            <a href="javascript:void(0)">client1</a>
          </td>
          <td>client1@company.com</td>
          <td>
            <span class="label label-primary">Personal</span>
          </td>
          <td class="text-center">
            <div class="btn-group">
              <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default">
                <i class="fa fa-pencil"></i>
              </a>
              <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger">
                <i class="fa fa-times"></i>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-center">1</td>
          <td class="text-center">
            <img src="avatar.jpg" alt="avatar" class="img-circle">
          </td>
          <td>
            <a href="javascript:void(0)">client1</a>
          </td>
          <td>client1@company.com</td>
          <td>
            <span class="label label-primary">Personal</span>
          </td>
          <td class="text-center">
            <div class="btn-group">
              <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default">
                <i class="fa fa-pencil"></i>
              </a>
              <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger">
                <i class="fa fa-times"></i>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-center">1</td>
          <td class="text-center">
            <img src="avatar.jpg" alt="avatar" class="img-circle">
          </td>
          <td>
            <a href="javascript:void(0)">client1</a>
          </td>
          <td>client1@company.com</td>
          <td>
            <span class="label label-primary">Personal</span>
          </td>
          <td class="text-center">
            <div class="btn-group">
              <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default">
                <i class="fa fa-pencil"></i>
              </a>
              <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger">
                <i class="fa fa-times"></i>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-center">1</td>
          <td class="text-center">
            <img src="avatar.jpg" alt="avatar" class="img-circle">
          </td>
          <td>
            <a href="javascript:void(0)">client1</a>
          </td>
          <td>client1@company.com</td>
          <td>
            <span class="label label-primary">Personal</span>
          </td>
          <td class="text-center">
            <div class="btn-group">
              <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default">
                <i class="fa fa-pencil"></i>
              </a>
              <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger">
                <i class="fa fa-times"></i>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-center">1</td>
          <td class="text-center">
            <img src="avatar.jpg" alt="avatar" class="img-circle">
          </td>
          <td>
            <a href="javascript:void(0)">client1</a>
          </td>
          <td>client1@company.com</td>
          <td>
            <span class="label label-primary">Personal</span>
          </td>
          <td class="text-center">
            <div class="btn-group">
              <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default">
                <i class="fa fa-pencil"></i>
              </a>
              <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger">
                <i class="fa fa-times"></i>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-center">1</td>
          <td class="text-center">
            <img src="avatar.jpg" alt="avatar" class="img-circle">
          </td>
          <td>
            <a href="javascript:void(0)">client1</a>
          </td>
          <td>client1@company.com</td>
          <td>
            <span class="label label-primary">Personal</span>
          </td>
          <td class="text-center">
            <div class="btn-group">
              <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default">
                <i class="fa fa-pencil"></i>
              </a>
              <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger">
                <i class="fa fa-times"></i>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td class="text-center">1</td>
          <td class="text-center">
            <img src="avatar.jpg" alt="avatar" class="img-circle">
          </td>
          <td>
            <a href="javascript:void(0)">client1</a>
          </td>
          <td>client2@company.com</td>
          <td>
            <span class="label label-primary">Personal</span>
          </td>
          <td class="text-center">
            <div class="btn-group">
              <a href="javascript:void(0)" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default">
                <i class="fa fa-pencil"></i>
              </a>
              <a href="javascript:void(0)" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger">
                <i class="fa fa-times"></i>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<script>$(function(){ TablesDatatables.init(); });</script>
