<div id="home-carousel" class="carousel carousel-home slide" data-ride="carousel" data-interval="5000">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="active item">
        <section class="site-section site-section-light themed-background-default">
          <div class="container">
            <p class="text-center animation-fadeIn">
              <%= image_tag 'photo1.jpeg' %>
            </p>
          </div>
        </section>
      </div>
      <div class="item">
        <section class="site-section site-section-light themed-background-fire">
          <div class="container">
            <p class="text-center animation-fadeInLeft">
              <%= image_tag 'photo2.jpeg' %>
            </p>
          </div>
        </section>
      </div>
      <div class="item">
        <section class="site-section site-section-light themed-background-amethyst">
          <div class="container">
            <p class="text-center animation-hatch">
              <%= image_tag 'photo3.jpeg' %>
            </p>
          </div>
        </section>
      </div>
      <div class="item">
        <section class="site-section site-section-light themed-background-modern">
          <div class="container">
            <p class="text-center animation-fadeIn360">
              <%= image_tag 'photo4.jpeg' %>
            </p>
          </div>
        </section>
      </div>
    </div>
    <!-- END Wrapper for slides -->
    <!-- Controls -->
    <a class="left carousel-control" href="#home-carousel" data-slide="prev">
      <span>
        <i class="fa fa-chevron-left"></i>
      </span>
    </a>
    <a class="right carousel-control" href="#home-carousel" data-slide="next">
      <span>
        <i class="fa fa-chevron-right"></i>
      </span>
    </a>
    <!-- END Controls -->
</div>
<section id="registry-div" class="wrapper-intro style3 special">
  <div class="head-section">
    <div class="major">
      <h2>Register Internship</h2>
      <p>Please enter the required information!</p>
    </div>
  </div>
  <div class="body-section">
    <form action="#" method="post">
      <div class="row uniform">
        <div class="small">
          <input type="text" name="name" placeholder="Name" class="form-control">
        </div>
        <div class="small">
          <input type="text" name="email" placeholder="Email" class="form-control">
        </div>
        <div class="small">
          <input type="text" name="phone" placeholder="Phone" class="form-control">
        </div>
        <div class="small">
          <input type="text" name="expected_intern" placeholder="Internship's position" class="form-control">
        </div>
        <div class="large">
          <textarea placeholder="Message" rows="6" class="form-control"></textarea>
        </div>
        <div class="large">
          <label class="text-special">Curriculum Vitae</label>
          <span><input type="file" name="cv_url" class="transparent absolute" style="color: #fff"></span>
        </div>
        <div>
          <ul class="actions">
            <input value="Send Message" class="special-btn" type="submit">
          </ul>
        </div>
      </div>
    </form>
  </div>
</section>
<!-- Contact section -->
<!-- Intro -->
<section class="site-section site-section-light site-section-top themed-background-dark" id="contact-div">
  <div class="container">
    <h1 class="text-center animation-slideDown"><i class="fa fa-envelope"></i> <strong>Contact Us</strong></h1>
    <h2 class="h3 text-center animation-slideUp">We will be happy to answer all your questions and work together!</h2>
  </div>
</section>
<!-- END Intro -->
<!-- Google Map -->
<!--  <section class="site-content">
    <div id="gmap" style="height: 350px;"></div>
  </section> -->
<!-- END Google Map -->
<!-- Contact -->
<section class="site-content site-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 site-block">
        <div class="site-block">
          <h3 class="h2 site-heading"><strong>Company</strong> Inc</h3>
          <address>
            Address<br>
            Town/City<br>
            Region, Zip/Postal Code<br><br>
            <i class="fa fa-phone"></i> (000) 000-0000<br>
            <i class="fa fa-envelope-o"></i> <a href="javascript:void(0)">example@example.com</a>
          </address>
        </div>
        <div class="site-block">
          <h3 class="h2 site-heading"><strong>About</strong> Us</h3>
          <p class="remove-margin">
            In hac habitasse platea dictumst. Proin ac nibh rutrum lectus rhoncus eleifend. Sed porttitor pretium venenatis. Suspendisse potenti. Aliquam quis ligula elit. Aliquam at orci ac neque semper dictum. Sed tincidunt scelerisque ligula, et facilisis nulla hendrerit non. Suspendisse potenti.
          </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-8 site-block">
        <h3 class="h2 site-heading"><strong>Contact</strong> Form</h3>
        <form action="contact.html#form-contact" method="post" id="form-contact">
          <div class="form-group">
            <label for="contact-name">Name</label>
            <input type="text" id="contact-name" name="contact-name" class="form-control form-control-text input-lg" placeholder="Your name..">
          </div>
          <div class="form-group">
            <label for="contact-email">Email</label>
            <input type="text" id="contact-email" name="contact-email" class="form-control form-control-text input-lg" placeholder="Your email..">
          </div>
          <div class="form-group">
            <label for="contact-message">Message</label>
            <textarea id="contact-message" name="contact-message" rows="10" class="form-control form-control-text input-lg" placeholder="Let us know how we can assist.."></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-lg btn-primary">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- END Contact -->
<div class="wrapper-login" id="login-prime">
  <div class="container-login">
    <button id="cancel-button" class="cancel-login"><i class="fa fa-close"></i></button>
    <h1>Welcome</h1>

    <form class="form-login">
      <input type="text" placeholder="Username" class="input-login">
      <input type="password" placeholder="Password" class="input-login">
      <button type="submit" id="login-button" class="button-login">Login</button>
    </form>
  </div>

  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
