<div id="home-carousel" class="carousel carousel-home slide" data-ride="carousel" data-interval="5000">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="active item">
        <section class="site-section site-section-light site-section-top themed-background-default">
          <div class="container">
            <h1 class="text-center animation-slideDown hidden-xs"><strong>A complete web solution for your awesome project</strong></h1>
            <h2 class="text-center animation-slideUp push hidden-xs">Bring your project to life months sooner</h2>
            <p class="text-center animation-fadeIn">
              <img src="vendor/assets/images/introduce/photo1.jpg" alt="Promo Image 1">
            </p>
          </div>
        </section>
      </div>
      <div class="item">
        <section class="site-section site-section-light site-section-top themed-background-fire">
          <div class="container">
            <h1 class="text-center animation-fadeIn360 hidden-xs"><strong>Featuring a Powerful and Flexible layout</strong></h1>
            <h2 class="text-center animation-fadeIn360 push hidden-xs">Letting you focus on creating your project</h2>
            <p class="text-center animation-fadeInLeft">
              <img src="vendor/assets/images/introduce/photo2.jpg" alt="Promo Image 2">
            </p>
          </div>
        </section>
      </div>
      <div class="item">
        <section class="site-section site-section-light site-section-top themed-background-amethyst">
          <div class="container">
            <h1 class="text-center animation-hatch hidden-xs"><strong>Fully Responsive and Retina Ready</strong></h1>
            <h2 class="text-center animation-hatch push hidden-xs">The UI will look great and crisp</h2>
            <p class="text-center animation-hatch">
              <img src="vendor/assets/images/introduce/photo3.jpg" alt="Promo Image 3">
            </p>
          </div>
        </section>
      </div>
      <div class="item">
        <section class="site-section site-section-light site-section-top themed-background-modern">
          <div class="container">
            <h1 class="text-center animation-fadeInLeft hidden-xs"><strong>Tons of features are designed &amp; waiting for you</strong></h1>
            <h2 class="text-center animation-fadeInRight push hidden-xs">Everything you need for your project</h2>
            <p class="text-center animation-fadeIn360">
              <img src="vendor/assets/images/introduce/photo4.jpg" alt="Promo Image 4">
            </p>
          </div>
        </section>
      </div>
    </div>
    <!-- END Wrapper for slides -->
    <!-- Controls -->
    <a class="left carousel-control" href="#home-carousel" data-slide="prev">
      <span>
        <i class="fa fa-chevron-left"></i>
      </span>
    </a>
    <a class="right carousel-control" href="#home-carousel" data-slide="next">
      <span>
        <i class="fa fa-chevron-right"></i>
      </span>
    </a>
    <!-- END Controls -->
</div>
<section id="registry-div" class="wrapper-intro style3 special">
  <div class="head-section">
    <div class="major">
      <h2>Register Internship</h2>
      <p>Please enter the required information!</p>
    </div>
  </div>
  <div class="body-section">
    <form action="#" method="post">
      <div class="row uniform">
        <div class="small">
          <input type="text" name="name" placeholder="Name">
        </div>
        <div class="small">
          <input type="text" name="email" placeholder="Email">
        </div>
        <div class="small">
          <input type="text" name="phone" placeholder="Phone">
        </div>
        <div class="small">
          <input type="text" name="expected_intern" placeholder="Internship's position">
        </div>
        <div class="large">
          <textarea placeholder="Message" rows="6"></textarea>
        </div>
        <div class="large">
          <label class="text-special">Curriculum Vitae</label>
          <span><input type="file" name="cv_url" class="transparent absolute" style="color: #fff"></span>
        </div>
        <div>
          <ul class="actions">
            <li><input value="Send Message" class="special-btn" type="submit"></li>
          </ul>
        </div>
      </div>
    </form>
  </div>
</section>

