<% provide :title, "Khóa học" %>
<div class="content-header">
  <div class="header-section">
    <h1>
      <i class="gi gi-share_alt"></i>Danh sách khóa học
    </h1>
  </div>
</div>
<ul class="breadcrumb breadcrumb-top">
  <li>Khóa học</li>
  <li><a href="">Danh sách</a></li>
</ul>
<div class="block full">
  <div class="block-title" id="btn-filter-container">
    <h2><strong>Tài Khoản</strong></h2>
    <%= link_to "Của tôi", trainer_courses_path,class: "btn-filter active", remote: true %>
    <%= link_to "Tham gia", trainer_courses_path(type: "join"),class: "btn-filter ", remote: true %>
  </div>
  <div class="row" id="course-content">
    <%= render @courses %>
  </div>
</div>

<script>
  $(function(){ btnFilterClick.init(); });
</script>
