<div class="content-header">
  <div class="header-section">
    <h1>
      <i class="fa fa-globe"></i>Intro to <strong>HTML5</strong><br><small>15 Lessons</small>
    </h1>
  </div>
</div>
<ul class="breadcrumb breadcrumb-top">
  <li>Pages</li>
  <li>e-Learning</li>
  <li><a href="">Intro to HTML5</a></li>
</ul>
<%= render partial: "component/course_component/show_subject",
  local: {subject: @subject, course_subject: @course_subject} %>
