<% provide :title, "Tạo tại khoản" %>
<div class="content-header">
  <div class="header-section">
    <h1>
      <i class="gi gi-notes_2"></i>Khởi tạo tài khoản
    </h1>
  </div>
</div>
<ul class="breadcrumb breadcrumb-top">
  <li>Tài khoản</li>
  <li>
    <a href="">Tạo mới</a>
  </li>
</ul>
<div class="row">
  <%= render "form" %>
</div>

