$("#table-content").html("<table id='example-datatable' class='table table-vcenter table-condensed table-bordered'><thead><tr><th class='text-center'>#</th><th class='text-center'><i class='gi gi-user'></i></th><th>Name</th><th>Email</th><th>Program</th><th>Join Date</th><th>Permission</th></tr></thead><tbody><%= j render partial: 'user', collection: @users, as: :user %></tbody></table>");
$(function(){ TablesUsers.init(); });
