$("#table-content").html("<table id='example-datatable' class='table table-vcenter table-condensed table-bordered'><thead><tr><th class='text-center'>ID</th><th>Khóa học</th><th>Chương trình</th><th>Ngôn ngữ</th><th>Bắt đầu</th><th>Kết thúc</th><th>Trạng thái</th><th>Chủ nhiệm</th><th class='text-center'>##</th></tr></thead><tbody><%= j render partial: 'course', collection: @courses, as: :course %></tbody></table>");
$(function(){ TablesCourses.init(); });
